@charset "UTF-8";
/* CSS Document */

*{margin:0; padding:0;}

html{height:100%;}

body{height:100%;}

.map-legend {
	position: fixed;
	top: 15px;
	left: 15px;
	height: 40px;
	z-index: 10000;
}


#map{
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background:rgb(250,250,250);
  border:10px solid rgb(255,255,255);
  box-shadow:1px 1px 5px rgba(0,0,0,.1);
  z-index: -999;
}

#clearDiv {
	position: fixed;
	top:0;bottom:0;left:0;right:0;
	height: 100%;
	z-index: -998;
}

#time-indicator {
	padding: 5px;
	position: fixed;
	width: 400px;
	bottom: 20px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 2em;
}

#res-plot-container {
	display: none; /* start hidden */
	position: fixed;
	width: 600px;
	top: 50px;
	right: 100px;
}

#res-plot{
	height: 100%;
	width: 100%;
}

.res-plot-row {
	line-height: 400px;
}

.res-y-label {
	transform: translate(-12px, 75px) rotate(-90deg);
	display: table-caption;
	white-space: nowrap;
	font-family: "Open Sans";
	width: 12px;
}

.res-x-label {
	text-align: center;
	font-family: "Open Sans";
}

svg {
  overflow: hidden;
}

#ag-prices {
  margin: 20px;
}

#ag-prices svg {
  height: 400px;
  width: 550px;
}

.snowpack-container {
	position: relative;
	right: -55%;
	top: -200px;
}
  
#feature1 .left {
	top: -200px;
}

.higher {
	position: relative;
	top: -100px;
}
  
header,
#feature1,
#feature2,
#feature3,
#feature4,
#feature5,
#news,
#tahoe,
#drilling,
#parched,
#brink,
#toll,
#burning,
footer{	height:100%;
			padding:15px 15px;
			font-family:"Open Sans";
			position:relative;
	}
 
.spacer {
	height: 15em;
} 

.top{width:50%;
	margin:0 auto;
	padding:3px 15px 10px 15px;
	text-align:center;
	color:rgb(80,146,204);
	}
	
.top p{color:#000;}
	
.top h1{
	font-size:3em;
	margin-bottom:-5px;}

.top h1#bottom{color:#fff;}

.left,
.right{	
		display: block;
		width:19%;
		margin: auto;
		position: absolute;
		padding:1% 1%;}
		
.left{left: 35px; right: auto;
		background:rgba(255,255,255,.8);}

.right{left: auto; right: 35px;
		background:rgba(80,146,204,.6);}
		
.left h2{color:rgb(80,146,204);
		margin-bottom:5px;}
		
.right h2{color:#fff;
		margin-bottom:5px;}
			
.bottom{width:60%;
		margin: auto;
  		position: absolute;
  		top: auto; left: 0; bottom: 150px; right: 0;
		
		}
		
.bottom h2{color:#000;
			display: inline:block;
			margin-bottom:5px;
			padding-top: 10px;
			clear: both;
			}
			
h1#bottom{
	color:rgb(80,146,204);
	background:rgba(255,255,255,.7);
	padding:10px;
}
			
.bottom p{
			margin-right:10px;
			clear: both;
			margin: .25em;
		}
		
.boxy{
	background:rgba(255,255,255,.8);
	min-height:150px;
	padding:0 10px 5px 10px;}
	
#open{
	padding-top:10px;
	margin-top:20px;}
	
a{
	color:rgb(80,146,204);
	text-decoration:none;
	font-weight:bold;
}

a:hover,
a.white:hover{
	color:#E86E00;
	text-decoration:underline;}

a.white{color:rgb(250,250,250);}
		
#start-trigger{
	background:rgba(255,255,255,.7);
	margin-top:60px;}
	
#drought{
	background:rgba(255,255,255,.7);
	width:30%;
	padding:0;}
	
.usage-pie{
	background:rgba(255,255,255,.8);
	width:490px;
	height:510px;
	padding:5px;
	text-align:center;}
	
.usage-pie h2,
.snowpack-plot h2{
	color:rgb(80,146,204);
	margin:10px 0 5px 0;}
	
.snowpack-plot{
	text-align:center;
	background:#fff;
	width:610px;
	padding:5px;}

			
footer{padding-top:5%;
		height:95%;}

/* //// */
#links-anchor {
	position: fixed;
	right: 5px;
	top: 40%;
	z-index: 1000;
}

#links-anchor table tr {
	margin-top: 5px;
}

.links-anchor {
	margin-top: 3px;
	margin-bottom: 3px;
}
.links-anchor {
	transition-duration: 0.5s; 
}
.links-anchor:hover {
	border-color: #FFFFFF;
}

#links-anchor a {
	text-decoration: none;
}


.links-anchor-link-filled:hover {
	cursor: default;
}

.links-anchor-link-empty:hover {
	cursor: pointer;
}

.links-anchor-link-empty {
	border: 3px solid rgba(80,146,204,1);
	height: 20px;
	width: 20px;
	border-radius: 15px;
	-webkit-transform: translateZ(0);
}

.links-anchor-link-filled {
	border: 3px solid rgba(80,146,204,1);
	background-color: rgba(80,146,204,.6);
	height: 20px;
	width: 20px;
	border-radius: 15px;
	-webkit-transform: translateZ(0);
}

.reservoir {
  stroke: #000;
}
